@import '../../theme/vars';

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34; /* Sfondo grigio scuro (come la chat) */
  color: #fff; /* Testo chiaro per sfondo scuro */
  overflow-y: auto;
  min-height: 100vh;
}

.pageContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  min-height: calc(100vh - 80px);
}

.heroSection {
  text-align: center;
  padding: 80px 20px;
  margin-bottom: 40px;
}

.heroTitle {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff; /* Titolo chiaro */
}

.heroSubtitle {
  font-size: 1.2em;
  color: #ccc; /* Sottotitolo leggermente più chiaro */
}

.featuresSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.featureCard {
  background-color: #333; /* Sfondo leggermente più chiaro per le card */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: calc(33% - 20px);
  margin-bottom: 20px;
  color: #fff; /* Testo chiaro nelle card */
}

.featureImage {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  object-fit: contain;
}

.featuresSection h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #fff; /* Titolo delle feature chiaro */
}

.aboutUsSection {
  background-color: #333; /* Sfondo leggermente più chiaro per la sezione Chi Siamo */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  color: #fff; /* Testo chiaro nella sezione Chi Siamo */
}

.aboutUsIntro {
  font-size: 1.1em;
  color: #ccc;
  margin-bottom: 20px;
}

.teamCards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.teamCard {
  text-align: center;
  width: calc(33% - 20px);
  margin-bottom: 20px;
}

.teamImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.teamCard h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.3em;
  color: #fff; /* Nomi del team chiari */
}

.teamRole {
  color: #777;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.teamDescription {
  color: #999;
  font-size: 1em;
}

.aboutUsSection h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff; /* Titolo "La Nostra Missione" chiaro */
}

.missionStatement {
  line-height: 1.8;
  color: #ccc;
  text-align: center;
  padding: 0 50px;
}

.iframeSection {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 600px;
  border: none;
}

.disclaimerSection {
  text-align: center;
  color: #ccc;
  font-size: 0.9em;
  padding: 20px;
  background-color: #444; /* Sfondo leggermente più chiaro per il disclaimer */
  border-radius: 8px;
}

.disclaimerSection strong {
  color: #d32f2f;
}